h4 a {
    color : #C25100;
    text-align: center ;
  }
  h1  {
    color : #d70505;
    text-align: center ;
    text-size-adjust: 40px;
    font-family: cursive;
  }

  h2  {
    color : hsl(0, 0%, 99%);
    text-align: center ;
    text-size-adjust: 40px;
    font-family: cursive;
  }

  #btn{
    color : #0300c2;
    text-align: center ;
  }

#bod {
    padding-left: 15px;
}