<!DOCTYPE html>
{% load static %}
{% block css %}
<style>
#bod {
    background-image: url("/img/bgr1.png");
    background-color: blueviolet;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
h1  {
    color : #d70505;
    text-align: center ;
    text-size-adjust: 40px;
    font-family: cursive;
  }

</style>
{% endblock %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
</head>

<body  id ='bod' style="background-image: url('{% static 'img/bgr1.png' %}');"> 
    
    <h1>Skipped Status: {{data}}</h1>
</body>
</html>